# DataPrep

This project needs to be at least 10 columns, with attractive visuals in Tableau that help tell a story.

# Library Imports

In [5]:
import pandas as pd
import pylast
import time
from tqdm import tqdm  # For progress bars

In [80]:
# Load datasets
concerts = pd.read_csv("data/ConcertArchivesExportFeb22-25.csv")  # All concerts
twentyfour = pd.read_csv("data/2024concertsranked.csv")  # 2024 concerts with rankings
bestof24 = pd.read_csv("data/bestof24.csv")  # Best albums/songs of 2024
bestof23 = pd.read_csv("data/bestof23.csv")  # Best albums/songs of 2023
bestof22 = pd.read_csv("data/bestof22.csv")  # Best albums/songs of 2022
bestof21 = pd.read_csv("data/bestof21.csv")  # Best albums/songs of 2021
scrobbles = pd.read_csv("data/scrobbles.csv") #Every song I've listened to since May 2020

# View Data

In [8]:
# Display the first few rows of each dataset
twentyfour.head()

,Ranking,Start Date,Concert Name,Bands,Venue,Location,Rating,Paid,Discount
0,1,02/08/2024,NaN,Willi Carlisle / Golden Shoals,Cactus Club,"Milwaukee, Wisconsin, United States",5.0,1,NaN
1,2,01/13/2024,Pool Sounds v3,Lady Bird / Max Niemann / Jacob Slade / Maximi...,Pool Studios,"Milwaukee, Wisconsin, United States",5.0,1,NaN
2,3,03/31/2024,"Barely Civil ""I'd Say I'm Not Fine"" Record Rel...",Barely Civil / Magazine Beach / Overhand / Kno...,Cactus Club,"Milwaukee, Wisconsin, United States",5.0,1,NaN
3,4,04/20/2024,Record Store Day 2024,Friko,Liliput Records,"Milwaukee, Wisconsin, United States",5.0,0,Record Store Day
4,5,08/02/2024,NaN,J.E. Sunde / Caley Conway,Cactus Club,"Milwaukee, Wisconsin, United States",5.0,1,NaN

In [9]:
twentyfour.shape

(57, 9)

In [10]:
concerts.head()

,Start Date,End Date,Concert Name,Bands,Venue,Location
0,02/22/2025,NaN,Riverwest Radio Spotlight Series,Barely Civil / Wave Chapelle / Caley Conway / 2hi,Amorphic Beer,"Milwaukee, Wisconsin, United States"
1,01/29/2025,NaN,the DIVE tour,Almost Monday / Adrian Lyles,Vivarium,"Milwaukee, Wisconsin, United States"
2,01/24/2025,NaN,NaN,Beach Bunny / Delaney Bailey,Turner Hall Ballroom,"Milwaukee, Wisconsin, United States"
3,01/23/2025,NaN,NaN,Orillia / Poor Ridley / Maximiano,Sugar Maple,"Milwaukee, Wisconsin, United States"
4,12/26/2024,NaN,NaN,Johanna Rose / Ellie Jackson / Bitch Creek,Cactus Club,"Milwaukee, Wisconsin, United States"

In [11]:
concerts.shape

(221, 6)

In [12]:
# Merge concerts and twentyfour
df_concerts = pd.merge(
    concerts,                      # Left dataset
    twentyfour,                    # Right dataset
    on=['Start Date', 'Concert Name', 'Bands', 'Venue', 'Location'],  # Key columns
    how='left'                     # Keep all rows from concerts, add matching rows from twentyfour
)

# Display the merged dataset
df_concerts.head()

,Start Date,End Date,Concert Name,Bands,Venue,Location,Ranking,Rating,Paid,Discount
0,02/22/2025,NaN,Riverwest Radio Spotlight Series,Barely Civil / Wave Chapelle / Caley Conway / 2hi,Amorphic Beer,"Milwaukee, Wisconsin, United States",NaN,NaN,NaN,NaN
1,01/29/2025,NaN,the DIVE tour,Almost Monday / Adrian Lyles,Vivarium,"Milwaukee, Wisconsin, United States",NaN,NaN,NaN,NaN
2,01/24/2025,NaN,NaN,Beach Bunny / Delaney Bailey,Turner Hall Ballroom,"Milwaukee, Wisconsin, United States",NaN,NaN,NaN,NaN
3,01/23/2025,NaN,NaN,Orillia / Poor Ridley / Maximiano,Sugar Maple,"Milwaukee, Wisconsin, United States",NaN,NaN,NaN,NaN
4,12/26/2024,NaN,NaN,Johanna Rose / Ellie Jackson / Bitch Creek,Cactus Club,"Milwaukee, Wisconsin, United States",26.0,4.5,1.0,NaN

In [13]:
df_concerts.shape

(221, 10)

In [219]:
df_concerts['Location'].value_counts()

Location
Milwaukee, Wisconsin, United States          161
Chicago, Illinois, United States               7
Appleton, Wisconsin, United States             7
Madison, Wisconsin, United States              7
Cudahy, Wisconsin, United States               3
Oshkosh, Wisconsin, United States              3
Minneapolis, Minnesota, United States          3
Sheboygan, Wisconsin, United States            2
Egg Harbor, Wisconsin, United States           2
Green Bay, Wisconsin, United States            1
Egg Harbor, WI, US                             1
Sturgeon Bay, WI                               1
Toronto, Ontario, Canada                       1
Reedsburg, Wisconsin, United States            1
Los Angeles, California, United States         1
1001 Elmwood Ave, Oshkosh, WI 54901            1
2 Jackson St, Oshkosh, WI 54901                1
New York, New York, United States              1
Fort Atkinson, Wisconsin, United States        1
Omaha, Nebraska, United States                 1
West Bend, WI                                  1
Arcadia, MN, United States                     1
Portland, Oregon, United States                1
Seattle, Washington, United States             1
West Allis, Wisconsin, United States           1
Cambridge, Massachusetts, United States        1
Stoughton, Wisconsin, United States            1
Hartland, WI, US                               1
Philadelphia, Pennsylvania, United States      1
Davenport, Iowa, United States                 1
La Crosse, WI, US                              1
La Crosse, Wisconsin, United States            1
Eau Claire, Wisconsin, United States           1
Ferndale, Michigan, United States              1
Bayfield, WI                                   1
Name: count, dtype: int64

In [14]:
# Check for missing values in the merged dataset
print(df_concerts.isnull().sum())

Start Date        0
End Date        216
Concert Name    145
Bands             0
Venue             0
Location          0
Ranking         173
Rating          173
Paid            173
Discount        188
dtype: int64

## Drop Unnessesary Columns

In [16]:
# Drop End Date and Concert Name columns
df_concerts = df_concerts.drop(columns=['End Date', 'Concert Name'])
df_concerts

,Start Date,Bands,Venue,Location,Ranking,Rating,Paid,Discount
0,02/22/2025,Barely Civil / Wave Chapelle / Caley Conway / 2hi,Amorphic Beer,"Milwaukee, Wisconsin, United States",NaN,NaN,NaN,NaN
1,01/29/2025,Almost Monday / Adrian Lyles,Vivarium,"Milwaukee, Wisconsin, United States",NaN,NaN,NaN,NaN
2,01/24/2025,Beach Bunny / Delaney Bailey,Turner Hall Ballroom,"Milwaukee, Wisconsin, United States",NaN,NaN,NaN,NaN
3,01/23/2025,Orillia / Poor Ridley / Maximiano,Sugar Maple,"Milwaukee, Wisconsin, United States",NaN,NaN,NaN,NaN
4,12/26/2024,Johanna Rose / Ellie Jackson / Bitch Creek,Cactus Club,"Milwaukee, Wisconsin, United States",26.0,4.5,1.0,NaN
...,...,...,...,...,...,...,...,...
216,11/18/2011,The Avett Brothers,The Riverside Theater,"Milwaukee, Wisconsin, United States",NaN,NaN,NaN,NaN
217,07/26/2011,Blitzen Trapper / Ages and Ages,Slowdown,"Omaha, Nebraska, United States",NaN,NaN,NaN,NaN
218,07/11/2010,The Avett Brothers / Elephant Revival,Lake Superior Big Top Chautauqua,"Bayfield, WI",NaN,NaN,NaN,NaN
219,03/06/2010,The Low Anthem / The Avett Brothers,The Riverside Theater,"Milwaukee, Wisconsin, United States",NaN,NaN,NaN,NaN
220,02/19/2010,Diane Schuur,Fox Cities Performing Arts Center,"Appleton, Wisconsin, United States",NaN,NaN,NaN,NaN

## Fill Remaining Nulls

In [18]:
# Fill missing values
df_concerts['Ranking'] = df_concerts['Ranking'].fillna(0)
df_concerts['Rating'] = df_concerts['Rating'].fillna(0)
df_concerts['Paid'] = df_concerts['Paid'].fillna(1)  # Assume missing values mean paid
df_concerts['Discount'] = df_concerts['Discount'].fillna("Unknown")

# Display the updated df
df_concerts.head()

,Start Date,Bands,Venue,Location,Ranking,Rating,Paid,Discount
0,02/22/2025,Barely Civil / Wave Chapelle / Caley Conway / 2hi,Amorphic Beer,"Milwaukee, Wisconsin, United States",0.0,0.0,1.0,Unknown
1,01/29/2025,Almost Monday / Adrian Lyles,Vivarium,"Milwaukee, Wisconsin, United States",0.0,0.0,1.0,Unknown
2,01/24/2025,Beach Bunny / Delaney Bailey,Turner Hall Ballroom,"Milwaukee, Wisconsin, United States",0.0,0.0,1.0,Unknown
3,01/23/2025,Orillia / Poor Ridley / Maximiano,Sugar Maple,"Milwaukee, Wisconsin, United States",0.0,0.0,1.0,Unknown
4,12/26/2024,Johanna Rose / Ellie Jackson / Bitch Creek,Cactus Club,"Milwaukee, Wisconsin, United States",26.0,4.5,1.0,Unknown

In [19]:
# Convert Start Date to datetime
df_concerts['Start Date'] = pd.to_datetime(df_concerts['Start Date'], format='%m/%d/%Y')

# Filter for 2024 data
df_2024 = df_concerts[df_concerts['Start Date'].dt.year == 2024]

# Display the filtered dataset
df_2024.head()

,Start Date,Bands,Venue,Location,Ranking,Rating,Paid,Discount
4,2024-12-26,Johanna Rose / Ellie Jackson / Bitch Creek,Cactus Club,"Milwaukee, Wisconsin, United States",26.0,4.5,1.0,Unknown
5,2024-11-13,Modest Mouse / The Black Heart Procession,The Riverside Theater,"Milwaukee, Wisconsin, United States",0.0,0.0,1.0,Unknown
6,2024-11-09,Haley Heynderickx / Lily Breshears,Vivarium,"Milwaukee, Wisconsin, United States",7.0,5.0,0.0,Street Team
7,2024-11-02,The Menzingers / Direct Hit! / Holy Pinto,The Rave,"Milwaukee, Wisconsin, United States",15.0,4.5,0.0,Rave Contest
8,2024-10-24,The Nunnery / Dosh / Luke Callen / Maximiano /...,Cactus Club,"Milwaukee, Wisconsin, United States",0.0,0.0,1.0,Unknown

## Extract a list of unique venues visited in 2024

In [21]:
# Get unique venues
unique_venues = df_2024['Venue'].unique()

# Convert to a DataFrame
df_unique_venues = pd.DataFrame(unique_venues, columns=['Venue'])

# Display the unique venues
df_unique_venues

                                                Venue
0                                         Cactus Club
1                               The Riverside Theater
2                                            Vivarium
3                                            The Rave
4                                   Riverwalk Commons
5                                       Pabst Theater
6                      88Nine Radio Milwaukee Studios
7                                        X-Ray Arcade
8                                The Rave/Eagles Club
9                            Miller High Life Theatre
10  Peck Pavilion, Marcus Center for the Performin...
11                                      Humboldt Park
12                                         Summerfest
13  Summerfest Grounds at Henry Maier Festival Par...
14                          Henry Maier Festival Park
15    Summerfest Grounds at Henry Maier Festival Park
16                                        Thalia Hall
17                               Turner Hall Ballroom
18                                    Liliput Records
19                                    Paradigm Coffee
20                                    Riviera Theatre
21                           Linneman's Riverwest Inn
22              Marcus Center for the Performing Arts
23                      Marcus Performing Arts Center
24                                       Pool Studios

In [22]:
# Save to CSV
df_unique_venues.to_csv("data/unique_venues_2024.csv", index=False)

#### I manually typed the distance from home, time to travel, and venue capacity by hand in Google Sheets

In [24]:
# Load the venue details CSV
venue_info = pd.read_csv("data/venue_info_2024.csv")

# Display the first few rows
venue_info.head()

                   Venue  dist_from_home  drive_time  capacity
0            Cactus Club             9.5          15       150
1  The Riverside Theater             5.5          12      2450
2               Vivarium             5.5          16       450
3               The Rave             4.9          10      1000
4      Riverwalk Commons             6.4          12       100

In [25]:
## Merge Back with df_2024

In [26]:
# Merge the datasets
df_2024 = pd.merge(
    df_2024,                      # Left dataset
    venue_info,                   # Right dataset
    on='Venue',                   # Key column
    how='left'                    # Keep all rows from df_2024
)

# Display the updated dataset
df_2024.head()

,Start Date,Bands,Venue,Location,Ranking,Rating,Paid,Discount,dist_from_home,drive_time,capacity
0,2024-12-26,Johanna Rose / Ellie Jackson / Bitch Creek,Cactus Club,"Milwaukee, Wisconsin, United States",26.0,4.5,1.0,Unknown,9.5,15,150
1,2024-11-13,Modest Mouse / The Black Heart Procession,The Riverside Theater,"Milwaukee, Wisconsin, United States",0.0,0.0,1.0,Unknown,5.5,12,2450
2,2024-11-09,Haley Heynderickx / Lily Breshears,Vivarium,"Milwaukee, Wisconsin, United States",7.0,5.0,0.0,Street Team,5.5,16,450
3,2024-11-02,The Menzingers / Direct Hit! / Holy Pinto,The Rave,"Milwaukee, Wisconsin, United States",15.0,4.5,0.0,Rave Contest,4.9,10,1000
4,2024-10-24,The Nunnery / Dosh / Luke Callen / Maximiano /...,Cactus Club,"Milwaukee, Wisconsin, United States",0.0,0.0,1.0,Unknown,9.5,15,150

In [28]:
# Define a mapping dictionary for venue names
venue_name_mapping = {
    'The Rave/Eagles Club': 'The Rave',
    'Marcus Performing Arts Center': 'Marcus Center for the Performing Arts',
    'Summerfest Grounds at Henry Maier Festival Park-M & I Bank Classic Rock Stage': 'Summerfest Grounds at Henry Maier Festival Park',
}

# Standardize venue names in df_2024
df_2024['Venue'] = df_2024['Venue'].replace(venue_name_mapping)

# Standardize venue names in venue_info
venue_info['Venue'] = venue_info['Venue'].replace(venue_name_mapping)

In [29]:
# Add a ranking column to each bestof dataset
bestof24['Rank'] = bestof24.index + 1  # Index starts at 0, so add 1
bestof23['Rank'] = bestof23.index + 1
bestof22['Rank'] = bestof22.index + 1
bestof21['Rank'] = bestof21.index + 1

# Display the updated bestof24 dataset
bestof24.head()

,Track ID,Track Name,Album Name,Artist Name(s),Release Date,Duration (ms),Popularity,Added By,Added At,Genres,...,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Time Signature,Rank
0,24TyIHRNtcNihfFoWKkqzP,Where We've Been,"Where we've been, Where we go from here",Friko,2024-02-16,315633,32,mmr4r23xnc6oh1c77lysfbqg4,2024-12-02T20:12:53Z,NaN,...,-10.981,1,0.0437,0.7870,0.041200,0.0876,0.116,146.426,4,1
1,78SjYKRXdivtTDHBzaehnm,The Architect,Deeper Well,Kacey Musgraves,2024-03-15,177293,55,mmr4r23xnc6oh1c77lysfbqg4,2024-12-02T20:13:50Z,NaN,...,-8.603,1,0.0320,0.8420,0.000000,0.0858,0.441,123.285,4,2
2,42gvftYbB8lU8B6pP7Hp6k,Jaybird,Critterland,Willi Carlisle,2024-01-26,233091,22,mmr4r23xnc6oh1c77lysfbqg4,2024-12-02T20:14:05Z,"alt country,americana,bluegrass",...,-10.130,1,0.0303,0.6470,0.000044,0.1560,0.527,122.981,4,3
3,0nj9Bq5sHDiTxSHunhgkFb,squabble up,GNX,Kendrick Lamar,2024-11-22,157992,88,mmr4r23xnc6oh1c77lysfbqg4,2024-12-03T14:02:59Z,"hip hop,west coast hip hop",...,-5.568,1,0.1980,0.0206,0.000000,0.0783,0.711,103.921,4,4
4,1Ov33kwQ8c0ZnKIiHo7yl6,Summer Bodies,No Souvenirs,Fightmilk,2024-11-15,228506,5,mmr4r23xnc6oh1c77lysfbqg4,2024-12-02T20:14:40Z,NaN,...,-5.166,1,0.0563,0.0182,0.000015,0.1300,0.395,127.861,4,5

In [30]:
# Add a year column to each dataset
bestof24['Year'] = 2024
bestof23['Year'] = 2023
bestof22['Year'] = 2022
bestof21['Year'] = 2021

# Combine all bestof datasets
bestof_all = pd.concat([bestof24, bestof23, bestof22, bestof21], ignore_index=True)

# Display the combined dataset
bestof_all.head()

,Track ID,Track Name,Album Name,Artist Name(s),Release Date,Duration (ms),Popularity,Added By,Added At,Genres,...,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Time Signature,Rank,Year
0,24TyIHRNtcNihfFoWKkqzP,Where We've Been,"Where we've been, Where we go from here",Friko,2024-02-16,315633,32,mmr4r23xnc6oh1c77lysfbqg4,2024-12-02T20:12:53Z,NaN,...,1,0.0437,0.7870,0.041200,0.0876,0.116,146.426,4,1,2024
1,78SjYKRXdivtTDHBzaehnm,The Architect,Deeper Well,Kacey Musgraves,2024-03-15,177293,55,mmr4r23xnc6oh1c77lysfbqg4,2024-12-02T20:13:50Z,NaN,...,1,0.0320,0.8420,0.000000,0.0858,0.441,123.285,4,2,2024
2,42gvftYbB8lU8B6pP7Hp6k,Jaybird,Critterland,Willi Carlisle,2024-01-26,233091,22,mmr4r23xnc6oh1c77lysfbqg4,2024-12-02T20:14:05Z,"alt country,americana,bluegrass",...,1,0.0303,0.6470,0.000044,0.1560,0.527,122.981,4,3,2024
3,0nj9Bq5sHDiTxSHunhgkFb,squabble up,GNX,Kendrick Lamar,2024-11-22,157992,88,mmr4r23xnc6oh1c77lysfbqg4,2024-12-03T14:02:59Z,"hip hop,west coast hip hop",...,1,0.1980,0.0206,0.000000,0.0783,0.711,103.921,4,4,2024
4,1Ov33kwQ8c0ZnKIiHo7yl6,Summer Bodies,No Souvenirs,Fightmilk,2024-11-15,228506,5,mmr4r23xnc6oh1c77lysfbqg4,2024-12-02T20:14:40Z,NaN,...,1,0.0563,0.0182,0.000015,0.1300,0.395,127.861,4,5,2024

In [31]:
# Define a function to categorize albums
def categorize_album(rank):
    if rank <= 5:
        return 'Top 5'
    elif rank <= 10:
        return 'Top 10'
    elif rank <= 25:
        return 'Top 25'
    elif rank <= 50:
        return 'Top 50'
    elif rank <= 100:
        return 'Top 100'
    else:
        return 'Not in Top 100'

# Apply the function to create a new column
bestof_all['Tier'] = bestof_all['Rank'].apply(categorize_album)

# Display the updated dataset
bestof_all.head()

,Track ID,Track Name,Album Name,Artist Name(s),Release Date,Duration (ms),Popularity,Added By,Added At,Genres,...,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Time Signature,Rank,Year,Tier
0,24TyIHRNtcNihfFoWKkqzP,Where We've Been,"Where we've been, Where we go from here",Friko,2024-02-16,315633,32,mmr4r23xnc6oh1c77lysfbqg4,2024-12-02T20:12:53Z,NaN,...,0.0437,0.7870,0.041200,0.0876,0.116,146.426,4,1,2024,Top 5
1,78SjYKRXdivtTDHBzaehnm,The Architect,Deeper Well,Kacey Musgraves,2024-03-15,177293,55,mmr4r23xnc6oh1c77lysfbqg4,2024-12-02T20:13:50Z,NaN,...,0.0320,0.8420,0.000000,0.0858,0.441,123.285,4,2,2024,Top 5
2,42gvftYbB8lU8B6pP7Hp6k,Jaybird,Critterland,Willi Carlisle,2024-01-26,233091,22,mmr4r23xnc6oh1c77lysfbqg4,2024-12-02T20:14:05Z,"alt country,americana,bluegrass",...,0.0303,0.6470,0.000044,0.1560,0.527,122.981,4,3,2024,Top 5
3,0nj9Bq5sHDiTxSHunhgkFb,squabble up,GNX,Kendrick Lamar,2024-11-22,157992,88,mmr4r23xnc6oh1c77lysfbqg4,2024-12-03T14:02:59Z,"hip hop,west coast hip hop",...,0.1980,0.0206,0.000000,0.0783,0.711,103.921,4,4,2024,Top 5
4,1Ov33kwQ8c0ZnKIiHo7yl6,Summer Bodies,No Souvenirs,Fightmilk,2024-11-15,228506,5,mmr4r23xnc6oh1c77lysfbqg4,2024-12-02T20:14:40Z,NaN,...,0.0563,0.0182,0.000015,0.1300,0.395,127.861,4,5,2024,Top 5

In [32]:
bestof_all.columns

Index(['Track ID', 'Track Name', 'Album Name', 'Artist Name(s)',
       'Release Date', 'Duration (ms)', 'Popularity', 'Added By', 'Added At',
       'Genres', 'Record Label', 'Danceability', 'Energy', 'Key', 'Loudness',
       'Mode', 'Speechiness', 'Acousticness', 'Instrumentalness', 'Liveness',
       'Valence', 'Tempo', 'Time Signature', 'Rank', 'Year', 'Tier'],
      dtype='object')

## Drop Unnessisary Columns

In [34]:
# Drop unnecessary columns
bestof_all = bestof_all[['Artist Name(s)', 'Album Name', 'Release Date', 'Rank', 'Year', 'Tier']]

# Display the updated dataset
bestof_all.head()

,Artist Name(s),Album Name,Release Date,Rank,Year,Tier
0,Friko,"Where we've been, Where we go from here",2024-02-16,1,2024,Top 5
1,Kacey Musgraves,Deeper Well,2024-03-15,2,2024,Top 5
2,Willi Carlisle,Critterland,2024-01-26,3,2024,Top 5
3,Kendrick Lamar,GNX,2024-11-22,4,2024,Top 5
4,Fightmilk,No Souvenirs,2024-11-15,5,2024,Top 5

In [104]:
# Define a function to extract the primary artist name
def extract_primary_artist(artist_name):
    if pd.isna(artist_name):
        return None
    # Handle special case for "Tyler, The Creator"
    if "Tyler, The Creator" in artist_name:
        return "Tyler, The Creator"
    # Split on comma and return the first artist
    return artist_name.split(',')[0].strip()

# Apply the function to create a new column
bestof_all['Primary Artist'] = bestof_all['Artist Name(s)'].apply(extract_primary_artist)

# Display the updated dataset
bestof_all.head()

,Artist Name(s),Album Name,Release Date,Rank,Year,Tier,Primary Artist
0,Friko,"Where we've been, Where we go from here",2024-02-16,1,2024,Top 5,Friko
1,Kacey Musgraves,Deeper Well,2024-03-15,2,2024,Top 5,Kacey Musgraves
2,Willi Carlisle,Critterland,2024-01-26,3,2024,Top 5,Willi Carlisle
3,Kendrick Lamar,GNX,2024-11-22,4,2024,Top 5,Kendrick Lamar
4,Fightmilk,No Souvenirs,2024-11-15,5,2024,Top 5,Fightmilk

In [108]:
bestof_all.columns

Index(['Artist Name(s)', 'Album Name', 'Release Date', 'Rank', 'Year', 'Tier',
       'Primary Artist'],
      dtype='object')

## Attempt to Merge bestof_all and df_2024

In [37]:
# Split the Bands column into multiple rows
df_exploded = df_2024.assign(Bands=df_2024['Bands'].str.split(' / ')).explode('Bands')

# Display the exploded dataset
df_exploded.head()

,Start Date,Bands,Venue,Location,Ranking,Rating,Paid,Discount,dist_from_home,drive_time,capacity
0,2024-12-26,Johanna Rose,Cactus Club,"Milwaukee, Wisconsin, United States",26.0,4.5,1.0,Unknown,9.5,15,150
0,2024-12-26,Ellie Jackson,Cactus Club,"Milwaukee, Wisconsin, United States",26.0,4.5,1.0,Unknown,9.5,15,150
0,2024-12-26,Bitch Creek,Cactus Club,"Milwaukee, Wisconsin, United States",26.0,4.5,1.0,Unknown,9.5,15,150
1,2024-11-13,Modest Mouse,The Riverside Theater,"Milwaukee, Wisconsin, United States",0.0,0.0,1.0,Unknown,5.5,12,2450
1,2024-11-13,The Black Heart Procession,The Riverside Theater,"Milwaukee, Wisconsin, United States",0.0,0.0,1.0,Unknown,5.5,12,2450

In [92]:
df_exploded.columns

Index(['Start Date', 'Bands', 'Venue', 'Location', 'Ranking', 'Rating', 'Paid',
       'Discount', 'dist_from_home', 'drive_time', 'capacity'],
      dtype='object')

In [96]:
from thefuzz import process
import re

# Ensure dates are datetime objects
scrobbles['Timestamp'] = pd.to_datetime(scrobbles['Timestamp'])
df_exploded['Start Date'] = pd.to_datetime(df_exploded['Start Date'])

# Function to clean artist names (removes featured artists, punctuation, etc.)
def clean_artist_name(artist):
    # Remove content in parentheses and after "feat." or "ft."
    artist = re.sub(r'\s*\(.*?\)|\s*feat\..*|ft\..*', '', artist, flags=re.IGNORECASE)
    return artist.strip()

# Clean scrobble artist names
scrobbles['Cleaned Artist'] = scrobbles['Artist'].apply(clean_artist_name)

# Fuzzy matching function to get closest artist match
def get_closest_artist(artist, artist_list, threshold=80):
    match, score = process.extractOne(artist, artist_list)
    return match if score >= threshold else None

# Count scrobbles for each artist before the concert date
def count_scrobbles_before_concert(row):
    concert_date = row['Start Date']
    concert_artist = row['Bands']
    
    # Get closest match for concert artist from cleaned artist list
    matched_artist = get_closest_artist(concert_artist, scrobbles['Cleaned Artist'].unique())
    
    if matched_artist:
        count = scrobbles[(scrobbles['Cleaned Artist'] == matched_artist) & 
                          (scrobbles['Timestamp'] < concert_date)].shape[0]
    else:
        count = 0
    
    return count

# Add the scrobble count to df_exploded
df_exploded['Scrobbles Before Concert'] = df_exploded.apply(count_scrobbles_before_concert, axis=1)

# Preview the updated dataframe
print(df_exploded[['Bands', 'Start Date', 'Scrobbles Before Concert']].head())

                        Bands Start Date  Scrobbles Before Concert
0                Johanna Rose 2024-12-26                         0
0               Ellie Jackson 2024-12-26                         7
0                 Bitch Creek 2024-12-26                         9
1                Modest Mouse 2024-11-13                        88
1  The Black Heart Procession 2024-11-13                         1

In [102]:
df_exploded.head()

,Start Date,Bands,Venue,Location,Ranking,Rating,Paid,Discount,dist_from_home,drive_time,capacity,Scrobbles Before Concert
0,2024-12-26,Johanna Rose,Cactus Club,"Milwaukee, Wisconsin, United States",26.0,4.5,1.0,Unknown,9.5,15,150,0
0,2024-12-26,Ellie Jackson,Cactus Club,"Milwaukee, Wisconsin, United States",26.0,4.5,1.0,Unknown,9.5,15,150,7
0,2024-12-26,Bitch Creek,Cactus Club,"Milwaukee, Wisconsin, United States",26.0,4.5,1.0,Unknown,9.5,15,150,9
1,2024-11-13,Modest Mouse,The Riverside Theater,"Milwaukee, Wisconsin, United States",0.0,0.0,1.0,Unknown,5.5,12,2450,88
1,2024-11-13,The Black Heart Procession,The Riverside Theater,"Milwaukee, Wisconsin, United States",0.0,0.0,1.0,Unknown,5.5,12,2450,1

In [106]:
df_exploded.columns

Index(['Start Date', 'Bands', 'Venue', 'Location', 'Ranking', 'Rating', 'Paid',
       'Discount', 'dist_from_home', 'drive_time', 'capacity',
       'Scrobbles Before Concert'],
      dtype='object')

In [126]:
import pandas as pd
from datetime import datetime

# Convert release date in bestof_all to datetime
bestof_all['Release Date'] = pd.to_datetime(bestof_all['Release Date'])

# Merge the data on the artist and primary artist
merged_df = pd.merge(df_exploded, bestof_all, left_on='Bands', right_on='Primary Artist', how='left')

# Ensure 'Release Date' is not NaN before applying idxmax
most_recent_album = merged_df.dropna(subset=['Release Date']).groupby('Bands').apply(
    lambda x: x.loc[x['Release Date'].idxmax()] if not x['Release Date'].isnull().all() else pd.Series())
most_recent_album = most_recent_album[['Bands', 'Album Name', 'Release Date', 'Tier']]

# Reset index to avoid ambiguity in merge
merged_df = merged_df.reset_index(drop=True)
most_recent_album = most_recent_album.reset_index(drop=True)

# Merge this back into the original exploded dataframe
merged_df = pd.merge(df_exploded, most_recent_album, left_on='Bands', right_on='Bands', how='left')

# Calculate wait time for each concert
def calculate_wait_time(row):
    if pd.isna(row['Release Date']):
        return 'N/A'
    concert_date = pd.to_datetime(row['Start Date'])
    release_date = row['Release Date']
    delta = concert_date - release_date
    years = delta.days // 365
    months = (delta.days % 365) // 30
    days = (delta.days % 365) % 30
    if years == 0 and months == 0 and days == 0:
        return f"{years} years, {months} months, {days} days"
    return f"{years} years, {months} months, {days} days"

# Apply the wait time calculation
merged_df['Wait Time'] = merged_df.apply(calculate_wait_time, axis=1)

# Format the album and tier
merged_df['Album Info'] = merged_df.apply(
    lambda row: f"{row['Tier']} ({row['Release Date'].year}) - {row['Album Name']}" if pd.notna(row['Album Name']) else "N/A", 
    axis=1)

# Merge df_exploded with bestof_all
merged_df = pd.merge(df_exploded, bestof_all, left_on='Bands', right_on='Primary Artist', how='left')

# Drop rows with NaN in the 'Release Date' column
merged_df_cleaned = merged_df.dropna(subset=['Release Date'])

# Ensure 'Release Date' is not NaN before applying idxmax
most_recent_album = merged_df_cleaned.dropna(subset=['Release Date']).groupby('Bands').apply(
    lambda x: x.loc[x['Release Date'].idxmax()] if not x['Release Date'].isnull().all() else pd.Series())
most_recent_album = most_recent_album[['Bands', 'Album Name', 'Release Date', 'Tier']]

# Reset index again to avoid ambiguity in merge
merged_df_cleaned = merged_df_cleaned.reset_index(drop=True)
most_recent_album = most_recent_album.reset_index(drop=True)

# Merge this back into the original exploded dataframe
merged_df = pd.merge(df_exploded, most_recent_album, left_on='Bands', right_on='Bands', how='left')

# Display the final dataset
merged_df

,Start Date,Bands,Venue,Location,Ranking,Rating,Paid,Discount,dist_from_home,drive_time,capacity,Scrobbles Before Concert,Album Name,Release Date,Tier
0,2024-12-26,Johanna Rose,Cactus Club,"Milwaukee, Wisconsin, United States",26.0,4.5,1.0,Unknown,9.5,15,150,0,NaN,NaT,NaN
1,2024-12-26,Ellie Jackson,Cactus Club,"Milwaukee, Wisconsin, United States",26.0,4.5,1.0,Unknown,9.5,15,150,7,NaN,NaT,NaN
2,2024-12-26,Bitch Creek,Cactus Club,"Milwaukee, Wisconsin, United States",26.0,4.5,1.0,Unknown,9.5,15,150,9,NaN,NaT,NaN
3,2024-11-13,Modest Mouse,The Riverside Theater,"Milwaukee, Wisconsin, United States",0.0,0.0,1.0,Unknown,5.5,12,2450,88,NaN,NaT,NaN
4,2024-11-13,The Black Heart Procession,The Riverside Theater,"Milwaukee, Wisconsin, United States",0.0,0.0,1.0,Unknown,5.5,12,2450,1,NaN,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,2024-01-13,Lady Bird,Pool Studios,"Milwaukee, Wisconsin, United States",2.0,5.0,1.0,Unknown,5.1,12,250,0,NaN,NaT,NaN
154,2024-01-13,Max Niemann,Pool Studios,"Milwaukee, Wisconsin, United States",2.0,5.0,1.0,Unknown,5.1,12,250,23,NaN,NaT,NaN
155,2024-01-13,Jacob Slade,Pool Studios,"Milwaukee, Wisconsin, United States",2.0,5.0,1.0,Unknown,5.1,12,250,92,Soft Spoken,2023-10-13,Top 25
156,2024-01-13,Maximiano,Pool Studios,"Milwaukee, Wisconsin, United States",2.0,5.0,1.0,Unknown,5.1,12,250,0,The Real Truth,2024-09-07,Top 25
157,2024-01-13,Jack Eyke,Pool Studios,"Milwaukee, Wisconsin, United States",2.0,5.0,1.0,Unknown,5.1,12,250,5,NaN,NaT,NaN

In [154]:
merged_df.columns

Index(['Start Date', 'Bands', 'Venue', 'Location', 'Ranking', 'Rating', 'Paid',
       'Discount', 'dist_from_home', 'drive_time', 'capacity',
       'Scrobbles Before Concert', 'Album Name', 'Release Date', 'Tier',
       'Is Local'],
      dtype='object')

In [165]:
merged_df.to_excel('data/cleaned24.xlsx', index=False)

## Added some features in Google Sheets, namely, identifying which artists were local, and which artists from summerfest i never saw!

In [171]:
# Load the Excel file into a DataFrame
final_data = pd.read_excel('data/cleaned24withlocalindicator.xlsx')

# View the first few rows to ensure it's loaded correctly
final_data.head()

,Start Date,Bands,Is Local,Venue,Location,Ranking,Rating,Paid,Discount,dist_from_home,drive_time,capacity,Scrobbles Before Concert,Album Name,Release Date,Tier
0,2024-01-13,Lady Bird,1.0,Pool Studios,"Milwaukee, Wisconsin, United States",2,5.0,1,Unknown,5.1,12,250,0,NaN,NaT,NaN
1,2024-01-13,Max Niemann,1.0,Pool Studios,"Milwaukee, Wisconsin, United States",2,5.0,1,Unknown,5.1,12,250,23,NaN,NaT,NaN
2,2024-01-13,Jacob Slade,1.0,Pool Studios,"Milwaukee, Wisconsin, United States",2,5.0,1,Unknown,5.1,12,250,92,Soft Spoken,2023-10-13,Top 25
3,2024-01-13,Maximiano,1.0,Pool Studios,"Milwaukee, Wisconsin, United States",2,5.0,1,Unknown,5.1,12,250,0,The Real Truth,2024-09-07,Top 25
4,2024-01-13,Jack Eyke,1.0,Pool Studios,"Milwaukee, Wisconsin, United States",2,5.0,1,Unknown,5.1,12,250,5,NaN,NaT,NaN

In [173]:
final_data.columns

Index(['Start Date', 'Bands', 'Is Local', 'Venue', 'Location', 'Ranking',
       'Rating', 'Paid', 'Discount', 'dist_from_home', 'drive_time',
       'capacity', 'Scrobbles Before Concert', 'Album Name', 'Release Date',
       'Tier'],
      dtype='object')

In [181]:
# Ensure date columns are in datetime format
final_data['Start Date'] = pd.to_datetime(final_data['Start Date'], errors='coerce')
final_data['Release Date'] = pd.to_datetime(final_data['Release Date'], errors='coerce')

# Calculate the 'Waited' column
final_data['Waited'] = final_data.apply(
    lambda row: f"{(row['Start Date'] - row['Release Date']).days} day(s)" 
    if pd.notnull(row['Release Date']) and row['Start Date'] >= row['Release Date'] else '',
    axis=1
)

# Save the updated DataFrame to a new Excel file
final_data.to_excel('final_data_with_waited_column.xlsx', index=False)

# Check the output
final_data[['Bands', 'Start Date', 'Release Date', 'Waited']]

                          Bands Start Date Release Date     Waited
0                     Lady Bird 2024-01-13          NaT
1                   Max Niemann 2024-01-13          NaT
2                   Jacob Slade 2024-01-13   2023-10-13  92 day(s)
3                     Maximiano 2024-01-13   2024-09-07
4                     Jack Eyke 2024-01-13          NaT
..                          ...        ...          ...        ...
117                Modest Mouse 2024-11-13          NaT
118  The Black Heart Procession 2024-11-13          NaT
119                Johanna Rose 2024-12-26          NaT
120               Ellie Jackson 2024-12-26          NaT
121                 Bitch Creek 2024-12-26          NaT

[122 rows x 4 columns]

In [183]:
final_data

,Start Date,Bands,Is Local,Venue,Location,Ranking,Rating,Paid,Discount,dist_from_home,drive_time,capacity,Scrobbles Before Concert,Album Name,Release Date,Tier,Waited
0,2024-01-13,Lady Bird,1.0,Pool Studios,"Milwaukee, Wisconsin, United States",2,5.0,1,Unknown,5.1,12,250,0,NaN,NaT,NaN,
1,2024-01-13,Max Niemann,1.0,Pool Studios,"Milwaukee, Wisconsin, United States",2,5.0,1,Unknown,5.1,12,250,23,NaN,NaT,NaN,
2,2024-01-13,Jacob Slade,1.0,Pool Studios,"Milwaukee, Wisconsin, United States",2,5.0,1,Unknown,5.1,12,250,92,Soft Spoken,2023-10-13,Top 25,92 day(s)
3,2024-01-13,Maximiano,1.0,Pool Studios,"Milwaukee, Wisconsin, United States",2,5.0,1,Unknown,5.1,12,250,0,The Real Truth,2024-09-07,Top 25,
4,2024-01-13,Jack Eyke,1.0,Pool Studios,"Milwaukee, Wisconsin, United States",2,5.0,1,Unknown,5.1,12,250,5,NaN,NaT,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,2024-11-13,Modest Mouse,0.0,The Riverside Theater,"Milwaukee, Wisconsin, United States",0,0.0,1,Unknown,5.5,12,2450,88,NaN,NaT,NaN,
118,2024-11-13,The Black Heart Procession,0.0,The Riverside Theater,"Milwaukee, Wisconsin, United States",0,0.0,1,Unknown,5.5,12,2450,1,NaN,NaT,NaN,
119,2024-12-26,Johanna Rose,0.0,Cactus Club,"Milwaukee, Wisconsin, United States",26,4.5,1,Unknown,9.5,15,150,0,NaN,NaT,NaN,
120,2024-12-26,Ellie Jackson,1.0,Cactus Club,"Milwaukee, Wisconsin, United States",26,4.5,1,Unknown,9.5,15,150,7,NaN,NaT,NaN,
121,2024-12-26,Bitch Creek,1.0,Cactus Club,"Milwaukee, Wisconsin, United States",26,4.5,1,Unknown,9.5,15,150,9,NaN,NaT,NaN,

In [187]:
final_data.dtypes

Start Date                  datetime64[ns]
Bands                               object
Is Local                           float64
Venue                               object
Location                            object
Ranking                              int64
Rating                             float64
Paid                                 int64
Discount                            object
dist_from_home                     float64
drive_time                           int64
capacity                             int64
Scrobbles Before Concert             int64
Album Name                          object
Release Date                datetime64[ns]
Tier                                object
Waited                              object
dtype: object

In [191]:
from geopy.geocoders import Nominatim
import pandas as pd

# Initialize the geolocator
geolocator = Nominatim(user_agent="concert_geocoder")

# Function to get the full address from the location
def get_address(location):
    try:
        # Geocode the location
        location_info = geolocator.geocode(location, timeout=10)
        if location_info:
            return location_info.address  # Full address
        else:
            return None
    except Exception as e:
        print(f"Error geocoding {location}: {e}")
        return None

# Create a 'Venue Location' column to identify unique venue-location pairs
final_data['Venue Location'] = final_data['Venue'] + ', ' + final_data['Location']

# Identify unique venue-location pairs
unique_locations = final_data['Venue Location'].drop_duplicates()

# Geocode unique locations
location_addresses = unique_locations.apply(get_address)

# Create a mapping from 'Venue Location' to 'Full Address'
location_to_address = dict(zip(unique_locations, location_addresses))

# Map the 'Full Address' back to the original dataset
final_data['Full Address'] = final_data['Venue Location'].map(location_to_address)

In [199]:
# Filter rows where 'Full Address' is NaN
venues_without_address = final_data[final_data['Full Address'].isna()]

# Display the venues without addresses
venues_without_address[['Venue', 'Location']]

,Venue,Location
0,Pool Studios,"Milwaukee, Wisconsin, United States"
1,Pool Studios,"Milwaukee, Wisconsin, United States"
2,Pool Studios,"Milwaukee, Wisconsin, United States"
3,Pool Studios,"Milwaukee, Wisconsin, United States"
4,Pool Studios,"Milwaukee, Wisconsin, United States"
25,Linneman's Riverwest Inn,"Milwaukee, Wisconsin, United States"
26,Linneman's Riverwest Inn,"Milwaukee, Wisconsin, United States"
27,Linneman's Riverwest Inn,"Milwaukee, Wisconsin, United States"
40,Paradigm Coffee,"Sheboygan, Wisconsin, United States"
45,Liliput Records,"Milwaukee, Wisconsin, United States"
63,Summerfest Grounds at Henry Maier Festival Park,"Milwaukee, Wisconsin, United States"
64,Summerfest Grounds at Henry Maier Festival Park,"Milwaukee, Wisconsin, United States"
67,Summerfest Grounds at Henry Maier Festival Park,"Milwaukee, Wisconsin, United States"
68,Summerfest Grounds at Henry Maier Festival Park,"Milwaukee, Wisconsin, United States"
69,Summerfest Grounds at Henry Maier Festival Park,"Milwaukee, Wisconsin, United States"
70,Summerfest Grounds at Henry Maier Festival Park,"Milwaukee, Wisconsin, United States"
84,"Peck Pavilion, Marcus Center for the Performin...","Milwaukee, Wisconsin, United States"
106,Riverwalk Commons,"Milwaukee, Wisconsin, United States"

In [201]:
# Dictionary mapping venues to their addresses
venue_addresses = {
    'Pool Studios': '3728 N Fratney St, Milwaukee, WI 53212',
    'Linneman\'s Riverwest Inn': '1001 E Locust St, Milwaukee, WI 53212',
    'Paradigm Coffee and Music': '1202 N 8th St, Sheboygan, WI 53081',
    'Lilliput Records': '1669 N Farwell Ave, Milwaukee, WI 53202',
    'Summerfest Grounds at Henry Maier Festival Park': '200 N Harbor Dr, Milwaukee, WI 53202',
    'Peck Pavilion, Marcus Center for the Performing Arts': '929 N Water St, Milwaukee, WI 53202'
}

# Update the 'Full Address' column based on the 'Venue' column
final_data['Full Address'] = final_data['Venue'].replace(venue_addresses)

In [205]:
final_data.isna().sum()

Start Date                   0
Bands                        0
Is Local                     1
Venue                        0
Location                     0
Ranking                      0
Rating                       0
Paid                         0
Discount                     0
dist_from_home               0
drive_time                   0
capacity                     0
Scrobbles Before Concert     0
Album Name                  83
Release Date                83
Tier                        83
Waited                       0
Venue Location               0
Full Address                 0
dtype: int64

In [207]:
final_data[final_data['Is Local'].isna()]

,Start Date,Bands,Is Local,Venue,Location,Ranking,Rating,Paid,Discount,dist_from_home,drive_time,capacity,Scrobbles Before Concert,Album Name,Release Date,Tier,Waited,Venue Location,Full Address
36,2024-03-31,Magazine Beach,NaN,Cactus Club,"Milwaukee, Wisconsin, United States",3,5.0,1,Unknown,9.5,15,150,32,Constant Springtime,2023-04-21,Top 25,345 day(s),"Cactus Club, Milwaukee, Wisconsin, United States",Cactus Club

In [213]:
# Update the 'Is Local' value for the specific concert
final_data.at[36, 'Is Local'] = 0  # 0 indicates the artist is not local

In [217]:
final_data.isna().sum()

Start Date                   0
Bands                        0
Is Local                     0
Venue                        0
Location                     0
Ranking                      0
Rating                       0
Paid                         0
Discount                     0
dist_from_home               0
drive_time                   0
capacity                     0
Scrobbles Before Concert     0
Album Name                  83
Release Date                83
Tier                        83
Waited                       0
Venue Location               0
Full Address                 0
dtype: int64

In [226]:
final_data.to_csv('data/final_data.csv', index=False)